* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.markdown-body {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 30px;
  min-width: 200px;
  max-width: 790px;
}
